apiVersion: apps/v1
kind: Deployment
metadata:
 name: code-with-quarkus-deployment
 labels:
  app: code-with-quarkus
spec:
 replicas: 1
 selector:
  matchLabels:
   app: code-with-quarkus
 template:
  metadata:
   name: code-with-quarkus
   labels:
    app: code-with-quarkus
  spec:
   containers:
    - name: code-with-quarkus
      image: quarkus/code-with-quarkus-jvm:0.0.1
      ports:
       - containerPort: 8080
      imagePullPolicy: IfNotPresent
      env:
       - name: MONGODB_URI
         valueFrom:
          configMapKeyRef:
           name: code-with-quarkus-cm
           key: quarkus.mongodb.connection.string
   restartPolicy: Always
      